<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.tie_five_citi.Mapper.SharesMapper">
    <select id="getShares" resultType="com.example.tie_five_citi.Entity.Shares">
        SELECT distinct A.RIC as RIC,A.shares_name as sharesName,A.class_id as classId,A.shares_price AS sharesPrice,
                        A.currency_id AS currencyId,A.shares_num AS sharesNum,A.trade_limit AS tradeLimit,A.shares_flag as sharesFlag
        FROM shares as A
    </select>
</mapper>